body{
   background-color: #333;
}
.titleh1{
   color: rgba(207, 174, 158, 0.767);
}


footer{
	background-color:#33004B !important;
	overflow:hidden;
}

img {
	
}

.zawartoscBoxaStopki{
	color:white;
	position:absolute;
	width:95%;
	height:92%;
	margin: 0;
	top: 25%;
	-ms-transform: translateY(-10%);
	transform: translateY(-10%);
}

.zawartoscBoxaStopki2{
	color:white;
	position:absolute;
	width:95%;
	height:92%;
	margin: 0;
	top: 20%;
	-ms-transform: translateY(-10%);
	transform: translateY(-10%);
}

.logoStopki{
	width:90px;
}

#napislogostopka{
	margin:0 auto;
	font-family: Brush Script MT;
	font-size:5vh !important;

}

#napislogostopka1{
	margin:0 auto;
	font-family: Candara;
	font-size:4vh;
	font-weight:bold;
}
#napislogostopka2{
	margin:0 auto;
	font-family: Candara;
	font-size:2.7vh;
	font-weight:300;
}

.testowa{
height:64px;


}

.testowa1{

background: url("/media/images/fbb.png") no-repeat center center;

}
.testowa2{

background: url("/media/images/linn.png") no-repeat center center;

}
.testowa3{

background: url("/media/images/twiterr.png") no-repeat center center;

}
.testowa4{

background: url("/media/images/insta.png") no-repeat center center;

}

@media screen and (max-width: 1400px) {	
	.zawartoscBoxaStopki{
	  top:20%;
	}
	.zawartoscBoxaStopki2{
	  top:15%;
	}
	.logoStopki{
		width:70px;
		
	}
	#napislogostopka2{
	font-size:2.5vh;
	}
	
	.testowa{
		background-size: auto 100%;
		height:54px;
	}
	
}

@media screen and (max-width: 1111px) {	
	#napislogostopka2{
	font-size:2.3vh;
	}
}

@media screen and (max-width: 991px) {	
	.zawartoscBoxaStopki{
	  top:35%;
	}
	.zawartoscBoxaStopki2{
	  top:30%;
	}
	#napislogostopka2{
	font-size:3vh;
	}
	#napislogostopka1{
	font-size:5vh;
	}
	#napislogostopka{
	font-size:8vh !important;
	}
	.testowa{
		margin-top:20px;
		background-size: auto 100%;
		height:64px;
	}


}

@media screen and (max-width: 760px) {	
	.zawartoscBoxaStopki{
	  top:35%;
	}
	.zawartoscBoxaStopki2{
	  top:30%;
	}
	#napislogostopka2{
	font-size:2.5vh;
	}
	#napislogostopka1{
	font-size:4.5vh;
	}
	#napislogostopka{
	font-size:6vh !important;
	}
	.testowa{
		margin-top:20px;
		background-size: auto 100%;
		height:64px;
	}
}

@media screen and (max-width: 625px) {	
	.zawartoscBoxaStopki{
	  top:25%;
	}
	.zawartoscBoxaStopki2{
	  top:20%;
	}
	#napislogostopka2{
	font-size:2.5vh;
	}
	#napislogostopka1{
	font-size:4.5vh;
	}
	#napislogostopka{
	font-size:6vh !important;
	}
	.testowa{
		margin-top:20px;
		background-size: auto 100%;
		height:64px;
	}
}

@media screen and (max-width: 500px) {	
	.zawartoscBoxaStopki{
	  top:20%;
	}
	.zawartoscBoxaStopki2{
	  top:15%;
	}
	#napislogostopka2{
	font-size:2.0vh;
	}
	#napislogostopka1{
	font-size:4.0vh;
	}
	#napislogostopka{
	font-size:5vh !important;
	}
	.testowa{
		margin-top:0px;
		background-size: auto 100%;
		height:54px;
	}
}

@media screen and (max-width: 400px) {	

	#napislogostopka{
	font-size:4.5vh !important;
	}
	.testowa{
		margin-top:0px;
		background-size: auto 100%;
		height:44px;
	}

}
.zdjpost{
	width:180px;
	height:180px;

}

.zdjpost2{
	width:180px;
	height:180px;
	position:absolute;
	right:0px;

}
.zdjodpowiedzi{
	width:100px;
	height:100px;
}


.flexbox-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
   display: flex;
   background-color: #333;
   margin-bottom: 5rem;
}
.card1 {
   background-color: #333;
   
   border : none;
}
.zdjglowna{
	width:180px;
	height:180px;
	float:left;
}

.titleh1{
   text-align: center;
  
  
}
.table{
   background-color: #fff;
}
.flexbox-container div{
   flex-basis: 50px;
}
.flexbox-container1{
   margin-top: 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
   display: flex;
   flex-direction: row;
   color: #fff;
}

.flexbox-container3{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: rgb(250, 250, 250);
   
   
}
.flexbox-container3 div{
   flex-basis: 400px;
   margin-top: 15px;
}
.input{
   height: 400px;
   width: 300px;
   color: #edf0f1;
}

.flexbox-container4{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: left;
   display: flex;
   flex-direction: column;
   background-color: rgba(36, 34, 34, 0.329);
   color: #fff;
   
}
legend{
   color: #edf0f1
}
input{
   color: white;
}

.textinput {
   color: white;
}
label{

}
.textarea{
   height: 200px;
}

.flexbox-container4 div{
   flex-basis: 100px;
   
}
.textarea form-control{
   height: 300px;
}

.comment{
   background: linear-gradient(45deg, rgb(48, 63, 159), rgb(123, 31, 162));
}
.article-img {
   height: 65px;
   width: 65px;
   margin-right: 16px;
 }

.account-img {
   height: 125px;
   width: 125px;
   margin-right: 20px;
   margin-bottom: 16px;
 }

.container
{
   position: relative;
   background-color: #333;
   align-items: center;
   justify-content: center;
   display: flex;
}
.containerblog
{
   position: relative;
   margin-bottom: 10px;
   background: linear-gradient(38deg, rgb(67, 160, 71) -30%, rgb(29, 233, 182) 100%) transparent;
   margin: 0;
   padding : 0;
   min-height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-reg
{
   width: 500px;
   position: relative;
   margin-top: 50px;
   background-color: #333;
   align-items: center;
   justify-content: center;
   display: flex;
}
.container1 .card1{
   position: relative;
}

.container .card1 .face{
   width: 300px;
   height: 200px;
   transition: 0.5s;
   
}
.container1 .card1 .face.face1{
   position: relative;
   background: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   transform: translateY(100px);
}

.container .card1 .face.face1{
   position: relative;
   background: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   transform: translateY(100px);
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}
.container .card1:hover .face.face1{
   background: rgb(79, 12, 134) ;
   transform: translateY(0);
}
.container .card1 .face.face2{
   position: relative;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
   transform: translateY(-100px);
   
}
.container1 .card1 .face.face2{
   position: relative;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
   transform: translateY(-100px);
   
}
.container .card1:hover .face.face2{
   transform: translateY(0);
}
.container .card1 .face.face2 p {
   margin :0;
   padding: 0;
}
.container .card1 .face.face2 .content a{
   margin: 15px 0 0;
   display: inline-block;
   text-decoration: none;
   font-weight: 900;
   color: #333;
   padding: 5px;
   border : 1px solid #333;
}
.container .card1 .face.face2 .content a:hover{
   background: rgb(79, 12, 134) ;
   color: #fff;
}
.container .card1 .face.face1 .content{
   opacity: 0.2;
   transition: 0.5s;
}
.container .card1:hover .face.face1 .content
{
   opacity: 1;
}
.container .card1 .face.face1 .content img
{
   max-width: 100px;
}
.container .card1 .face.face1 .content h3
{
   margin: 10px 0 0;
   padding: 0;
   color:#fff ;
   text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 header {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 30px 10%;
   background-color: #24252a;
 }
 
 .logo {
   margin-right: auto;
   width: 200px;
 }
 
 .nav__links {
   list-style: none;
   display: flex;
 }
 
 .nav__links a,
 .cta,
 .overlay__content a {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   color: #edf0f1;
   text-decoration: none;
 }
 
 .nav__links li {
   padding: 0px 20px;
 }
 
 .nav__links li a {
   transition: all 0.3s ease 0s;
 }
 
 .nav__links li a:hover {
   color: #9221c7;
 }
 
 .cta {
   margin-left: 20px;
   padding: 9px 25px;
   background-color:  #9221c7;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   text-decoration: none;
 }
 
 .cta:hover {
   background-color:  #bd5fe9;
   text-decoration: none;
   color: white;
 }
 
 /* Mobile Nav */
 
 .menu {
   display: none;
 }

 
 .overlay {
   height: 30%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   background-color: #24252a;
   overflow-x: hidden;
   transition: all 0.5s ease 0s;
 }
 
 .overlay__content {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 .workwith {
    width: 250px;
 }
 .overlay a {
   padding: 15px;
   font-size: 36px;
   display: block;
   transition: all 0.3s ease 0s;
 }
 
 .overlay a:hover,
 .overlay a:focus {
   color: #0088a9;
 }
 .overlay .close {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
   color: #edf0f1;
   cursor: pointer;
 }
 
 @media screen and (max-height: 450px) {
   .overlay a {
     font-size: 20px;
   }
   .overlay .close {
     font-size: 40px;
     top: 15px;
     right: 35px;
   }
 }
 
 @media only screen and (max-width: 800px) {
   .nav__links,
   .cta {
     display: none;
   }
   .menu {
     display: initial;
   }
 } 


.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}