body{
   background: #333;
}
.flexbox-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
   display: flex;
   background-color: #333;
   margin-bottom: 5rem;
}
.card1 {
   background-color: #333;
   margin: 5rem;
   border : none;
}

.titleh1{
   text-align: center;
   color: #fff;
  
}
.table{
   background-color: #fff;
}
.flexbox-container div{
   flex-basis: 100px;
}
.flexbox-container1{
   margin-top: 15px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
   display: flex;
   background-color: #333;
   flex-direction: row;
   color: #fff;
}
.flexbox-container3{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: rgb(250, 250, 250);
   
   
}
.flexbox-container3 div{
   flex-basis: 400px;
   margin-top: 15px;
}
.flexbox-container4{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around; 
   align-items: left;
   display: flex;
   flex-direction: column;
   background-color: rgba(36, 34, 34, 0.329);
   color: #fff;
   
}
.flexbox-container4 div{
   flex-basis: 100px;
   
}

.comment{
   background: linear-gradient(45deg, rgb(48, 63, 159), rgb(123, 31, 162));
}
.article-img {
   height: 65px;
   width: 65px;
   margin-right: 16px;
 }

.account-img {
   height: 125px;
   width: 125px;
   margin-right: 20px;
   margin-bottom: 16px;
 }

.container
{
   width: 1000px;
   position: relative;
   background-color: #333;
   align-items: center;
   justify-content: center;
   display: flex;
}
.containerblog
{
   position: relative;
   margin-bottom: 10px;
   background: linear-gradient(38deg, rgb(67, 160, 71) -30%, rgb(29, 233, 182) 100%) transparent;
   margin: 0;
   padding : 0;
   min-height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container-reg
{
   width: 500px;
   position: relative;
   margin-top: 50px;
   background-color: #333;
   align-items: center;
   justify-content: center;
   display: flex;
}
.container1 .card1{
   position: relative;
}

.container .card1 .face{
   width: 300px;
   height: 200px;
   transition: 0.5s;
   
}
.container1 .card1 .face.face1{
   position: relative;
   background: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   transform: translateY(100px);
}

.container .card1 .face.face1{
   position: relative;
   background: #333;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   transform: translateY(100px);
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
}
.container .card1:hover .face.face1{
   background: rgb(79, 12, 134) ;
   transform: translateY(0);
}
.container .card1 .face.face2{
   position: relative;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
   transform: translateY(-100px);
   
}
.container1 .card1 .face.face2{
   position: relative;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,0.8);
   transform: translateY(-100px);
   
}
.container .card1:hover .face.face2{
   transform: translateY(0);
}
.container .card1 .face.face2 p {
   margin :0;
   padding: 0;
}
.container .card1 .face.face2 .content a{
   margin: 15px 0 0;
   display: inline-block;
   text-decoration: none;
   font-weight: 900;
   color: #333;
   padding: 5px;
   border : 1px solid #333;
}
.container .card1 .face.face2 .content a:hover{
   background: rgb(79, 12, 134) ;
   color: #fff;
}
.container .card1 .face.face1 .content{
   opacity: 0.2;
   transition: 0.5s;
}
.container .card1:hover .face.face1 .content
{
   opacity: 1;
}
.container .card1 .face.face1 .content img
{
   max-width: 100px;
}
.container .card1 .face.face1 .content h3
{
   margin: 10px 0 0;
   padding: 0;
   color:#fff ;
   text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
}

.nav__links{
  list-style: none;
  display: flex;
  background-color: #24252a;
  margin-top: 9px;
}
.nav__links1 {
  list-style: none;
  display: flex;
  margin-left: 100px;
  margin-top: 9px;
}

.nav__links1 a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li,
.nav__links1 li {
  padding: 0px 20px;
  margin-top: 9px;
}

.nav__links li a,
.cta a,
.nav__links1 li a {
  transition: all 0.3s ease 0s;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li a:hover,
.nav__links1 li a:hover {
  color:  rgb(79, 12, 134) ;
}

.cta {
  
  margin-left: 20px;
  padding: 9px 25px;
  background-color:  rgb(79, 12, 134) ;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color:  rgb(79, 12, 134) ;
}
.loginuser{
   margin-left: 100px;
}

#footer {
   text-align: center; 
   flex-shrink: 0;
   height: 10vh;  
   color: rgba(255, 255, 255, 0.8);
   background: linear-gradient(45deg, rgb(48, 63, 159), rgb(123, 31, 162));
   margin-top: 2rem;
}